*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#img-wrapper {
    display: flex;
    justify-content: center;
}
#btn-wrapper {
    display: flex;
    justify-content: center;
}
.page{
    height: 100vh;
    transition: background-color 0.5s;
}
button{
    padding: 1rem;
    border-radius:15px;

}