*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#img-wrapper {
    display: flex;
    justify-content: center;
}
#btn-wrapper {
    display: flex;
    justify-content: center;
}
.page{
    background-color: lightblue;
    height: 100vh;
}